body{
    color:red;
    font-size: 25px;
    line-height: 40%;
}

#pokemon_name{
    color:blue;
    font-style: italic;
    text-decoration: underline;
    font-weight: 800;
}

h1{
    text-decoration: underline;
}

p{
    color:black;
}


